#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<img class="ui centered massive image" src="/public/images/about.jpg">
<h1 class="ui center aligned header">About</h1>
<p></p>
<section class="ui center aligned middle aligned segment">
  <h2>This is a combination of data, technology and code to provide a knowledgable application for users</h2>
    <p>
    </p>
    <h3>
      This Weather Application is for users to be able to sign up and enter the reading of the weather in their local area.
      <br>
      This application will let you know by the wind speed if it is a light breeze to thunder depending on the readings you add for each Station.
      <br>
      This application has been dedicated to making living lives safer, easier and better with giving accurate prediction. As a technical application, it strives to utilise the latest technological advances in order to improve the efficiency, effectiveness and accuracy of its forecasts.
    </h3>
</section>